header {
background: url('/images/template/headerback.jpg') repeat-x;
height:320px;
position:relative;
}
footer {
background:#444444;
color:#bbbbbb;
}
#logo {
float:left;
display:block;

height:75px;
width:346px;
position:absolute;
top: 50px;
}


#top_menu {
background: #424242;
color:#ffffff;
float:right;
padding: 9px 20px 5px;
height:24px;
width:448px;
-moz-box-shadow: 5px 5px 11px #191919;
-webkit-box-shadow: 5px 5px 11px #191919;
box-shadow: 5px 5px 11px #191919;
border:none 5px #191919;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}
#top_menu li {
display:inline;
padding-right:35px;
}
#slide_area { 
z-index:100;
background: url('/images/template/slide_back.png');
width:960px;
height:163px;
position:absolute;
top: 135px;
-moz-box-shadow: 5px 5px 11px #191919;
-webkit-box-shadow: 5px 5px 11px #191919;
box-shadow: 5px 5px 11px #191919;
border:solid 1px #191919;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
}
#side_box {
background:#ffffff;
width:480px;
margin-bottom:16px;
height:260px;
float:right;
-moz-box-shadow: 5px 5px 11px #191919;
-webkit-box-shadow: 5px 5px 11px #191919;
box-shadow: 5px 5px 11px #191919;
border:solid 1px #aaaaaa;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
}
#section2 {
padding-top:20px;
color:#ffffff;
background: url('/images/template/red_footer.jpg') #fd4109 0 0 repeat-x;
min-height:138px;
}
#section3 {
font-size: 0.9em;
padding-top:10px;
padding-bottom:10px;
text-align:center;
background:#000000;
color:#aaaaaa;
}
